spring:
    application:
        name: Diary Application

    datasource:
        url: jdbc:mysql://localhost:3306/diary
        username: personal
        password: 1234

    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                format_sql: true

server:
    port: 9001